 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4656px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 142px;
  left: 267px;
  height: 4338px;
  transform-origin: center top;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 -42px;
}

.u-section-1 .u-line-2 {
  width: 1225px;
  transform-origin: left center;
  margin: 6px auto 0 -42px;
}

.u-section-1 .u-line-3 {
  width: 270px;
  transform-origin: left center;
  margin: 51px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -43px 952px 0 -2px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 16px 19px 0 280px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -115px 891px 0 93px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 105px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 13px auto 0 278px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -26px 891px 0 70px;
}

.u-section-1 .u-line-4 {
  width: 905px;
  transform-origin: left center;
  margin: -9px -43px 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 13px 19px 0 280px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -183px 891px 0 109px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 109px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 124px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 107px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-image-1 {
  width: 787px;
  height: 445px;
  margin: -21px 46px 0 auto;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -409px 892px 0 42px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-20 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-22 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-25 {
  font-size: 1.25rem;
  font-style: italic;
  margin: -67px 148px 0 559px;
}

.u-section-1 .u-text-26 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 50px 892px 0 42px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  margin: -20px 597px 0 278px;
}

.u-section-1 .u-line-5 {
  width: 897px;
  transform-origin: left center;
  margin: 0 -35px 0 auto;
}

.u-section-1 .u-text-28 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 4px 892px 0 42px;
}

.u-section-1 .u-text-29 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-32 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-33 {
  font-size: 1.25rem;
  margin: -235px 19px 0 280px;
}

.u-section-1 .u-text-34 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 26px 892px 0 42px;
}

.u-section-1 .u-text-35 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 270px 892px 0 42px;
}

.u-section-1 .u-text-36 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -291px 892px 0 42px;
}

.u-section-1 .u-text-37 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-38 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-39 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-40 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-image-2 {
  width: 379px;
  height: 379px;
  margin: -249px auto 0 298px;
}

.u-section-1 .u-image-3 {
  width: 420px;
  height: 379px;
  margin: -379px 28px 0 auto;
}

.u-section-1 .u-text-41 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -64px 893px 0 41px;
}

.u-section-1 .u-text-42 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-43 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-44 {
  font-size: 1.25rem;
  font-style: italic;
  margin: -58px 221px 0 482px;
}

.u-section-1 .u-text-45 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 41px 893px 0 41px;
}

.u-section-1 .u-text-46 {
  font-weight: 700;
  margin: -42px 309px 0 277px;
}

.u-section-1 .u-line-6 {
  width: 897px;
  transform-origin: left center;
  margin: 3px -35px 0 auto;
}

.u-section-1 .u-text-47 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 23px 893px 0 41px;
}

.u-section-1 .u-text-48 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-49 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-50 {
  font-size: 1.25rem;
  margin: -146px 17px 0 280px;
}

.u-section-1 .u-text-51 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 33px 893px 0 41px;
}

.u-section-1 .u-text-52 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-53 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-54 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-55 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-56 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 14px 893px 0 0;
}

.u-section-1 .u-text-57 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-58 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-59 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-60 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-61 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-62 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-63 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-64 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-65 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-66 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-67 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-68 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-image-4 {
  width: 787px;
  height: 502px;
  margin: -894px 45px 0 auto;
}

.u-section-1 .u-text-69 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 17px 187px 0 450px;
}

.u-section-1 .u-text-70 {
  font-weight: 700;
  margin: 46px 359px 0 277px;
}

.u-section-1 .u-line-7 {
  width: 898px;
  transform-origin: left center;
  margin: 1px -36px 0 auto;
}

.u-section-1 .u-text-71 {
  font-size: 1.25rem;
  margin: 16px 28px 0 280px;
}

.u-section-1 .u-text-72 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 40px 893px 0 0;
}

.u-section-1 .u-text-73 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-74 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-75 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-76 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-77 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-image-5 {
  width: 787px;
  height: 550px;
  object-position: 50% 8.54%;
  margin: -312px 46px 0 auto;
}

.u-section-1 .u-text-78 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 15px 281px 0 594px;
}

.u-section-1 .u-text-79 {
  font-weight: 700;
  margin: 19px auto 0 277px;
}

.u-section-1 .u-line-8 {
  width: 898px;
  transform-origin: left center;
  height: 2px;
  margin: 0 -36px 0 auto;
}

.u-section-1 .u-text-80 {
  font-size: 1.25rem;
  margin: 19px 0 0 277px;
}

.u-section-1 .u-image-6 {
  width: 787px;
  height: 508px;
  margin: 28px 45px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-2 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 752px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 99px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 784px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 784px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 784px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 761px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 99px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 791px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 792px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 791px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 791px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 791px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 461px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 497px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 99px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-39 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-41 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    margin-right: 121px;
    margin-left: 382px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 209px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-48 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-49 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-50 {
    margin-right: 0;
    margin-left: 97px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-52 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-53 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-54 {
    margin-right: 734px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 87px;
    margin-left: 350px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 259px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 0;
    margin-left: 108px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-74 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-75 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-76 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-77 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-78 {
    margin-right: 181px;
    margin-left: 494px;
  }

  .u-section-1 .u-text-80 {
    margin-left: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4485px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 532px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 213px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 541px;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 580px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 581px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 595px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 407px;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: -371px;
    margin-right: 514px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 353px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 387px;
    margin-left: 68px;
  }

  .u-section-1 .u-line-5 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 11px;
    margin-left: 272px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 99px;
    margin-left: 67px;
  }

  .u-section-1 .u-line-6 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-47 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 0;
  }

  .u-section-1 .u-text-51 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 473px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 459px;
    margin-right: 0;
  }

  .u-section-1 .u-text-69 {
    margin-right: 0;
    margin-left: 217px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 149px;
    margin-left: 67px;
  }

  .u-section-1 .u-line-7 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-71 {
    margin-left: 0;
  }

  .u-section-1 .u-text-72 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-74 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-75 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-76 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-77 {
    margin-right: 473px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 503px;
    margin-right: 0;
  }

  .u-section-1 .u-text-78 {
    margin-right: 71px;
    margin-left: 384px;
  }

  .u-section-1 .u-text-79 {
    margin-left: 212px;
  }

  .u-section-1 .u-line-8 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-80 {
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 720px;
    height: 465px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4026px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 352px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 361px;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-10 {
    margin-right: 400px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 401px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 415px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 305px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -269px;
    margin-right: 334px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-25 {
    font-size: 1rem;
    margin-left: 265px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 275px;
    margin-left: 0;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-33 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-34 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 334px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 161px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-44 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-6 {
    width: 540px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-50 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-51 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 293px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 344px;
  }

  .u-section-1 .u-text-69 {
    font-size: 1rem;
    margin-left: 37px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 36px;
    margin-left: 0;
  }

  .u-section-1 .u-line-7 {
    width: 540px;
  }

  .u-section-1 .u-text-71 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-72 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-74 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-75 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-76 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-77 {
    margin-right: 293px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 377px;
  }

  .u-section-1 .u-text-78 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 275px;
  }

  .u-section-1 .u-text-79 {
    margin-left: 159px;
  }

  .u-section-1 .u-line-8 {
    width: 540px;
  }

  .u-section-1 .u-text-80 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 349px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3405px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 152px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 161px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 200px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 201px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 215px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 192px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -156px;
    margin-right: 134px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 93px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 75px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 134px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 307px;
    margin-top: -340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-41 {
    margin-top: 8px;
    margin-right: 134px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 0;
  }

  .u-section-1 .u-text-45 {
    margin-right: 134px;
  }

  .u-section-1 .u-line-6 {
    width: 340px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 93px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 217px;
  }

  .u-section-1 .u-text-69 {
    margin-left: 0;
  }

  .u-section-1 .u-text-70 {
    margin-right: 0;
  }

  .u-section-1 .u-line-7 {
    width: 340px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-74 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-75 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-76 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-77 {
    margin-right: 93px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 237px;
  }

  .u-section-1 .u-text-78 {
    margin-left: 75px;
  }

  .u-section-1 .u-text-79 {
    margin-left: 100px;
  }

  .u-section-1 .u-line-8 {
    width: 340px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 220px;
  }
}