 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4475px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 142px;
  left: 267px;
  height: 4224px;
  transform-origin: center top;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 -42px;
}

.u-section-1 .u-line-2 {
  width: 1225px;
  transform-origin: left center;
  margin: 6px auto 0 -42px;
}

.u-section-1 .u-line-3 {
  width: 270px;
  transform-origin: left center;
  margin: 51px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -43px 952px 0 -2px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 29px 891px 0 93px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: -36px 0 0 278px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -13px 891px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: -4px 0 0 278px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -109px 891px 0 105px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 70px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 109px;
}

.u-section-1 .u-image-1 {
  width: 815px;
  height: 479px;
  margin: -4px 23px 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -460px 892px 0 109px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 124px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 107px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  font-style: italic;
  margin: -21px 223px 0 550px;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 4px 892px 0 42px;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  margin: -22px 0 0 278px;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -27px 891px 0 43px;
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-25 {
  font-size: 1.25rem;
  margin: -33px 0 0 278px;
}

.u-section-1 .u-text-26 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -80px 892px 0 42px;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-28 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-29 {
  font-size: 1.25rem;
  margin: -33px 0 0 278px;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -48px 892px 0 42px;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-32 {
  font-size: 1.25rem;
  margin: -12px 0 0 278px;
}

.u-section-1 .u-text-33 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -101px 892px 0 42px;
}

.u-section-1 .u-text-34 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-35 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-gallery-1 {
  height: 538px;
  width: 796px;
  margin: -22px 33px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  height: 538px;
  margin-left: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  margin-left: 0;
  margin-right: 0;
  height: 538px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-4 {
  margin-left: 0;
  margin-right: 0;
  height: 538px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-5 {
  margin-left: 0;
  margin-right: 0;
  height: 538px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-text-36 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -501px 892px 0 42px;
}

.u-section-1 .u-text-37 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-38 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-39 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-40 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-41 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-42 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-43 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-44 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-45 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-46 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-47 {
  font-size: 1.25rem;
  margin: -14px 0 0 278px;
}

.u-section-1 .u-text-48 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -131px 893px 0 41px;
}

.u-section-1 .u-text-49 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-50 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-51 {
  font-size: 1.25rem;
  margin: 8px 0 0 280px;
}

.u-section-1 .u-text-52 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -153px 893px 0 41px;
}

.u-section-1 .u-text-53 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-54 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-55 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-56 {
  font-weight: 700;
  margin: -3px auto 0 278px;
}

.u-section-1 .u-text-57 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -12px 893px 0 0;
}

.u-section-1 .u-line-4 {
  width: 905px;
  transform-origin: left center;
  margin: -18px -43px 0 auto;
}

.u-section-1 .u-text-58 {
  font-size: 1.25rem;
  margin: 16px 0 0 280px;
}

.u-section-1 .u-text-59 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -145px 893px 0 0;
}

.u-section-1 .u-text-60 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-61 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-62 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-image-2 {
  width: 796px;
  height: 591px;
  margin: -19px 33px 0 auto;
}

.u-section-1 .u-text-63 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -557px 893px 0 0;
}

.u-section-1 .u-text-64 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-65 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-66 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-67 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-68 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-69 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-70 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-71 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-72 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-73 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-74 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-75 {
  font-size: 1.25rem;
  font-style: italic;
  margin: -26px 299px 0 auto;
}

.u-section-1 .u-text-76 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 12px 893px 0 0;
}

.u-section-1 .u-text-77 {
  font-size: 1.25rem;
  font-style: italic;
  margin: -13px 0 0 280px;
}

.u-section-1 .u-text-78 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -36px 893px 0 0;
}

.u-section-1 .u-text-79 {
  font-weight: 700;
  margin: 24px auto 0 280px;
}

.u-section-1 .u-line-5 {
  width: 905px;
  transform-origin: left center;
  margin: 2px -43px 0 auto;
}

.u-section-1 .u-text-80 {
  font-size: 1.25rem;
  margin: 16px 0 0 280px;
}

.u-section-1 .u-image-3 {
  width: 796px;
  height: 494px;
  margin: 19px 33px 0 auto;
}

.u-section-1 .u-text-81 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 14px 0 0 280px;
}

.u-section-1 .u-text-82 {
  font-size: 1.25rem;
  margin: 20px 0 60px 280px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-top: 0;
    width: 2px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 58px;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
    margin-left: 58px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 852px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 884px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -22px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 884px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-right: 100px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -113px;
    margin-right: 884px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 884px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 884px;
    margin-left: 116px;
  }

  .u-section-1 .u-image-1 {
    height: 478px;
    margin-top: 0;
    margin-right: 123px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -463px;
    margin-right: 885px;
    margin-left: 116px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 323px;
    margin-left: 450px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 100px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 100px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 100px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 100px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: 133px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 100px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 100px;
    margin-left: 180px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-56 {
    margin-left: 378px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-line-4 {
    width: 912px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-58 {
    margin-top: 2227px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-59 {
    margin-top: -2356px;
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1637px;
  }

  .u-section-1 .u-text-63 {
    margin-top: -2213px;
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-69 {
    margin-top: 306px;
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-74 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-75 {
    margin-top: -91px;
  }

  .u-section-1 .u-text-76 {
    margin-top: 77px;
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-77 {
    margin-top: -161px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-78 {
    margin: 112px 793px -160px 100px;
  }

  .u-section-1 .u-text-80 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-81 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-82 {
    margin-left: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4315px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 168px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-left: 168px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 742px;
    margin-left: 208px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 774px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 88px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 774px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 36px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -149px;
    margin-right: 774px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 774px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 774px;
    margin-left: 226px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 422px;
    margin-top: 36px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -443px;
    margin-right: 775px;
    margin-left: 226px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 805px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 805px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 805px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 369px;
    margin-left: 404px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 46px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -64px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-23 {
    margin-top: -17px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -85px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -133px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-47 {
    margin-top: -7px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-48 {
    margin-top: -170px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-51 {
    margin-top: 34px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-52 {
    margin-top: -211px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-56 {
    margin-left: 423px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-text-58 {
    margin-top: 5467px;
    margin-left: 0;
  }

  .u-section-1 .u-text-59 {
    margin-top: -5628px;
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 535px;
    margin-top: 4193px;
    margin-right: 0;
  }

  .u-section-1 .u-text-63 {
    margin-top: -4713px;
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-69 {
    margin-top: 250px;
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-74 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-75 {
    margin-top: 233px;
    margin-right: 229px;
  }

  .u-section-1 .u-text-76 {
    margin-top: -247px;
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-77 {
    margin-top: -17px;
    margin-left: 0;
  }

  .u-section-1 .u-text-78 {
    margin-top: -32px;
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-79 {
    margin-left: 214px;
  }

  .u-section-1 .u-line-5 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-80 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 447px;
    margin-right: 0;
  }

  .u-section-1 .u-text-81 {
    margin-left: 0;
  }

  .u-section-1 .u-text-82 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3964px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 258px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
    margin-left: 258px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 652px;
    margin-left: 298px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 684px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 178px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 684px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 684px;
    margin-left: 312px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 684px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 684px;
    margin-left: 316px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 317px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -338px;
    margin-right: 685px;
    margin-left: 316px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 715px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 715px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 715px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 47px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1rem;
    margin-top: -53px;
    margin-right: 407px;
    margin-left: 430px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 84px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 2px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-25 {
    font-size: 1rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-29 {
    font-size: 1rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -59px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-32 {
    font-size: 1rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -101px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-47 {
    font-size: 1rem;
    margin-top: -14px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-48 {
    margin-top: -132px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-51 {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-52 {
    margin-top: -147px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-53 {
    margin-top: -11px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-56 {
    margin-left: 460px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-58 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-59 {
    margin-top: -5590px;
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 401px;
  }

  .u-section-1 .u-text-63 {
    margin-top: -4579px;
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-69 {
    margin-top: 116px;
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-74 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-75 {
    font-size: 1rem;
    margin-right: 172px;
  }

  .u-section-1 .u-text-76 {
    margin-top: -244px;
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-77 {
    font-size: 1rem;
    margin-top: -20px;
  }

  .u-section-1 .u-text-78 {
    margin: -16px 593px -176px 300px;
  }

  .u-section-1 .u-text-79 {
    margin-left: 161px;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
  }

  .u-section-1 .u-text-80 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 335px;
  }

  .u-section-1 .u-text-81 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-82 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3574px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 358px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-left: 358px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 552px;
    margin-left: 398px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 584px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 278px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 584px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -200px;
    margin-right: 584px;
    margin-left: 412px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 584px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 584px;
    margin-left: 416px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -221px;
    margin-right: 585px;
    margin-left: 416px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 615px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 615px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 615px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -15px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 449px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 59px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-23 {
    margin-top: -23px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 47px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -65px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-26 {
    margin-top: -99px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -110px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -178px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-47 {
    margin-top: -7px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-48 {
    margin-top: -234px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-51 {
    margin-top: 34px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-52 {
    margin-top: -249px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-53 {
    margin-top: 15px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-56 {
    margin-left: 501px;
  }

  .u-section-1 .u-text-57 {
    margin-top: -40px;
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-59 {
    margin-top: -5692px;
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 252px;
  }

  .u-section-1 .u-text-63 {
    margin-top: -4430px;
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-69 {
    margin-top: 43px;
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-74 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-75 {
    margin-top: 157px;
    margin-right: 108px;
  }

  .u-section-1 .u-text-76 {
    margin-top: -168px;
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-77 {
    margin-top: -96px;
  }

  .u-section-1 .u-text-78 {
    margin: 35px 493px -227px 400px;
  }

  .u-section-1 .u-text-79 {
    margin-left: 101px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 211px;
  }
}