 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 7513px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 142px;
  left: 267px;
  height: 7332px;
  transform-origin: center top;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 -42px;
}

.u-section-1 .u-line-2 {
  width: 1225px;
  transform-origin: left center;
  margin: 6px auto 0 -42px;
}

.u-section-1 .u-line-3 {
  width: 270px;
  transform-origin: left center;
  margin: 51px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -43px 952px 0 -2px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 29px 0 0 280px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -160px 891px 0 93px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 105px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 70px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 811px;
  height: 455px;
  margin: 1px 24px 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -441px 891px 0 109px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 14px 892px 0 109px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 16px 891px 0 124px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 107px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 11px 120px 0 400px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -28px 892px 0 42px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: -24px 582px 0 278px;
}

.u-section-1 .u-line-4 {
  width: 905px;
  transform-origin: left center;
  margin: 7px -43px 0 auto;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 1px 892px 0 42px;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  margin: -24px 0 0 280px;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -89px 891px 0 43px;
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 16px 891px 0 43px;
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-image-2 {
  width: 811px;
  height: 442px;
  margin: -9px 25px 0 auto;
}

.u-section-1 .u-text-26 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -418px 892px 0 42px;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-28 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-29 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-32 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-33 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-34 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-35 {
  font-size: 1.25rem;
  font-style: italic;
  margin: -12px 129px 0 409px;
}

.u-section-1 .u-text-36 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -5px 892px 0 42px;
}

.u-section-1 .u-image-3 {
  width: 810px;
  height: 423px;
  margin: -16px 25px 0 auto;
}

.u-section-1 .u-text-37 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -392px 892px 0 42px;
}

.u-section-1 .u-text-38 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-39 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-40 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 16px 893px 0 41px;
}

.u-section-1 .u-text-41 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-42 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-43 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-44 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-45 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 11px 63px 0 343px;
}

.u-section-1 .u-text-46 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -28px 893px 0 41px;
}

.u-section-1 .u-text-47 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-48 {
  font-size: 1.25rem;
  margin: -26px 0 0 280px;
}

.u-section-1 .u-text-49 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -87px 893px 0 41px;
}

.u-section-1 .u-text-50 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-51 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-image-4 {
  width: 810px;
  height: 467px;
  margin: -15px 25px 0 auto;
}

.u-section-1 .u-text-52 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -437px 893px 0 0;
}

.u-section-1 .u-text-53 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-54 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 14px 893px 0 0;
}

.u-section-1 .u-text-55 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-56 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-57 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-58 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-59 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-60 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-61 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 8px 155px 0 434px;
}

.u-section-1 .u-text-62 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -25px 893px 0 0;
}

.u-section-1 .u-text-63 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-image-5 {
  width: 811px;
  height: 500px;
  margin: -32px 24px 0 auto;
}

.u-section-1 .u-text-64 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -453px 893px 0 0;
}

.u-section-1 .u-text-65 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-66 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-67 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-68 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-69 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-70 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-71 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-72 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-73 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-74 {
  font-size: 1.25rem;
  font-style: italic;
  margin: -28px 26px 0 346px;
}

.u-section-1 .u-image-6 {
  width: 805px;
  height: 438px;
  margin: 26px 24px 0 auto;
}

.u-section-1 .u-text-75 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 14px 43px 0 329px;
}

.u-section-1 .u-image-7 {
  width: 804px;
  height: 424px;
  margin: 35px 25px 0 auto;
}

.u-section-1 .u-text-76 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 14px 43px 0 329px;
}

.u-section-1 .u-text-77 {
  margin: 20px -2px 0 278px;
}

.u-section-1 .u-text-78 {
  margin: 20px -2px 0 278px;
}

.u-section-1 .u-text-79 {
  font-weight: 700;
  margin: 20px -2px 0 278px;
}

.u-section-1 .u-line-5 {
  width: 905px;
  transform-origin: left center;
  height: 2px;
  margin: 0 -43px 0 auto;
}

.u-section-1 .u-text-80 {
  margin: 14px -2px 0 278px;
}

.u-section-1 .u-image-8 {
  width: 804px;
  height: 473px;
  margin: 20px 25px 0 auto;
}

.u-section-1 .u-text-81 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 14px -22px 0 298px;
}

.u-section-1 .u-text-82 {
  font-size: 1.25rem;
  margin: 20px 0 0 278px;
}

.u-section-1 .u-text-83 {
  font-size: 1.25rem;
  margin: 20px 0 0 278px;
}

.u-section-1 .u-image-9 {
  width: 804px;
  height: 296px;
  margin: 43px 25px 0 auto;
}

.u-section-1 .u-text-84 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 14px 0 0 278px;
}

.u-section-1 .u-image-10 {
  width: 804px;
  height: 571px;
  margin: 26px 25px 0 auto;
}

.u-section-1 .u-text-85 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 14px 0 0 278px;
}

.u-section-1 .u-image-11 {
  width: 810px;
  height: 709px;
  margin: 33px 26px 0 auto;
}

.u-section-1 .u-text-86 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 14px 0 60px 278px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-2 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 752px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 784px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 784px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 784px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 784px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 784px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 785px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 791px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 791px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 791px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 20px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 482px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 29px;
    margin-left: 309px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-39 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-41 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-45 {
    margin-right: 0;
    margin-left: 206px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-47 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-48 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-50 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-51 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-52 {
    margin-right: 734px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 55px;
    margin-left: 334px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-74 {
    margin-right: 0;
    margin-left: 172px;
  }

  .u-section-1 .u-text-75 {
    margin-right: 0;
    margin-left: 172px;
  }

  .u-section-1 .u-text-76 {
    margin-right: 0;
    margin-left: 172px;
  }

  .u-section-1 .u-text-77 {
    margin-left: 78px;
  }

  .u-section-1 .u-text-78 {
    margin-left: 78px;
  }

  .u-section-1 .u-text-79 {
    margin-left: 78px;
  }

  .u-section-1 .u-text-80 {
    margin-left: 78px;
  }

  .u-section-1 .u-text-81 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-82 {
    margin-left: 78px;
  }

  .u-section-1 .u-text-83 {
    margin-left: 78px;
  }

  .u-section-1 .u-text-84 {
    margin-left: 78px;
  }

  .u-section-1 .u-text-85 {
    margin-left: 78px;
  }

  .u-section-1 .u-text-86 {
    margin-left: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6948px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 532px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 564px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 404px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 565px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 595px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 23px;
    margin-right: 514px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 372px;
    margin-left: 68px;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 514px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 392px;
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-35 {
    margin-top: 38px;
    margin-right: 0;
    margin-left: 118px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 514px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 376px;
    margin-right: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 0;
  }

  .u-section-1 .u-text-49 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 514px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 415px;
    margin-right: 0;
  }

  .u-section-1 .u-text-52 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 0;
    margin-left: 169px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 473px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 444px;
    margin-right: 0;
  }

  .u-section-1 .u-text-64 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-74 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 720px;
    height: 392px;
    margin-right: 0;
  }

  .u-section-1 .u-text-75 {
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    width: 720px;
    height: 380px;
    margin-right: 0;
  }

  .u-section-1 .u-text-76 {
    margin-left: 0;
  }

  .u-section-1 .u-text-77 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-78 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-79 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-5 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-80 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    width: 720px;
    height: 424px;
    margin-right: 0;
  }

  .u-section-1 .u-text-81 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-82 {
    margin-left: 0;
  }

  .u-section-1 .u-text-83 {
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    width: 720px;
    height: 265px;
    margin-right: 0;
  }

  .u-section-1 .u-text-84 {
    margin-left: 0;
  }

  .u-section-1 .u-image-10 {
    width: 720px;
    height: 511px;
    margin-right: 0;
  }

  .u-section-1 .u-text-85 {
    margin-left: 0;
  }

  .u-section-1 .u-image-11 {
    width: 720px;
    height: 630px;
    margin-right: 0;
  }

  .u-section-1 .u-text-86 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5790px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 352px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 384px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 385px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-23 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 334px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 294px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-35 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-right: 334px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 282px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-45 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-46 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-48 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-49 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 334px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 311px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-61 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-62 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 293px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 333px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-74 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 294px;
  }

  .u-section-1 .u-text-75 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 285px;
  }

  .u-section-1 .u-text-76 {
    font-size: 1rem;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 318px;
  }

  .u-section-1 .u-text-81 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-82 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-83 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 199px;
  }

  .u-section-1 .u-text-84 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-10 {
    width: 540px;
    height: 383px;
  }

  .u-section-1 .u-text-85 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-11 {
    width: 540px;
    height: 473px;
  }

  .u-section-1 .u-text-86 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4503px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 152px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 184px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 185px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 60px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 134px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 185px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 134px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 178px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 134px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 196px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 93px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 210px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 93px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 185px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 179px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 200px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 125px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 241px;
  }

  .u-section-1 .u-image-11 {
    width: 340px;
    height: 298px;
  }
}