 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 426px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 0;
  left: 75px;
  height: 395px;
  transform-origin: center top;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 24px 326px 0 100px;
}

.u-section-1 .u-line-2 {
  width: 1040px;
  transform-origin: left center;
  margin: 0 15px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 954px;
  height: 296px;
  margin: 21px 67px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: -52px 824px 0 191px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 219px;
  height: 217px;
  margin: -255px auto 0 144px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 9px auto 0 409px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 212px;
  height: 217px;
  margin: -254px auto 0 384px;
}

.u-section-1 .u-image-3 {
  width: 207px;
  height: 217px;
  margin: -217px 316px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 9px 361px 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 203px;
  height: 217px;
  margin: -254px 92px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 9px 115px 60px auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 226px;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-top: -25px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -252px;
    margin-right: 724px;
    margin-left: 91px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -229px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -169px;
    margin-left: 337px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -284px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -300px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -45px;
    margin-right: 297px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -231px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 96px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -200px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -198px;
    margin-left: 258px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -342px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 12px;
    margin-right: 227px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -288px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 194px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 328px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 215px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 121px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 122px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 128px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 133px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 72px;
  }
}