 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 395px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 0;
  left: 75px;
  height: 395px;
  transform-origin: center top;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 326px 0 100px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 22px 900px 0 114px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 20px auto 0 114px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 20px auto 0 114px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 20px auto 0 114px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 226px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 800px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 594px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 414px;
  }

  .u-section-1 .u-text-5 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 214px;
  }
}