 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3350px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 142px;
  left: 267px;
  height: 3157px;
  transform-origin: center top;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 -42px;
}

.u-section-1 .u-line-2 {
  width: 1225px;
  transform-origin: left center;
  margin: 6px auto 0 -42px;
}

.u-section-1 .u-line-3 {
  width: 270px;
  transform-origin: left center;
  margin: 51px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -43px 952px 0 -2px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 29px 891px 0 93px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: -36px 74px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 218px;
  height: 91px;
  margin: 305px 74px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 218px;
  height: 300px;
  margin: -386px 74px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 0 74px 0 848px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: -379px 292px 0 280px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -125px 891px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 109px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 124px;
}

.u-section-1 .u-text-10 {
  margin: 5px auto 0 298px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -17px 891px 0 43px;
}

.u-section-1 .u-text-12 {
  margin: -18px 292px 0 302px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -24px 891px 0 43px;
}

.u-section-1 .u-text-14 {
  margin: -11px 292px 0 302px;
}

.u-section-1 .u-text-15 {
  margin: -3px 296px 0 302px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -172px 891px 0 43px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-20 {
  margin: -17px 51px 0 304px;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -429px 891px 0 43px;
}

.u-section-1 .u-text-22 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 2px;
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 2px;
}

.u-section-1 .u-text-26 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 2px;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 2px;
}

.u-section-1 .u-text-28 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 2px;
}

.u-section-1 .u-text-29 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 2px;
}

.u-section-1 .u-text-30 {
  margin: -15px 51px 0 304px;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -114px 891px 0 2px;
}

.u-section-1 .u-text-32 {
  margin: 84px 74px 0 304px;
}

.u-section-1 .u-text-33 {
  margin: 0 74px 0 304px;
}

.u-section-1 .u-text-34 {
  margin: 0 74px 0 304px;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  margin: 34px 86px 0 292px;
}

.u-section-1 .u-line-4 {
  width: 892px;
  transform-origin: left center;
  margin: 0 -43px 0 auto;
}

.u-section-1 .u-text-36 {
  font-size: 1.25rem;
  margin: 23px 51px 0 294px;
}

.u-section-1 .u-text-37 {
  font-size: 1.25rem;
  margin: 20px 51px 0 294px;
}

.u-section-1 .u-text-38 {
  margin: 6px 11px 0 333px;
}

.u-section-1 .u-text-39 {
  margin: 0 -88px 0 432px;
}

.u-section-1 .u-text-40 {
  margin: 0 -88px 0 432px;
}

.u-section-1 .u-text-41 {
  margin: -4px 11px 0 333px;
}

.u-section-1 .u-text-42 {
  margin: 0 -88px 0 432px;
}

.u-section-1 .u-text-43 {
  margin: 0 -88px 0 432px;
}

.u-section-1 .u-text-44 {
  font-size: 1.25rem;
  margin: 12px 50px 0 294px;
}

.u-section-1 .u-text-45 {
  font-weight: 700;
  margin: 20px 50px 0 294px;
}

.u-section-1 .u-line-5 {
  width: 892px;
  transform-origin: left center;
  height: 2px;
  margin: 0 -43px 0 auto;
}

.u-section-1 .u-text-46 {
  font-size: 1.25rem;
  margin: 20px 50px 0 294px;
}

.u-section-1 .u-image-2 {
  width: 330px;
  height: 660px;
  margin: 2px 0 0 auto;
}

.u-section-1 .u-text-47 {
  font-style: italic;
  margin: -638px 305px 0 385px;
}

.u-section-1 .u-text-48 {
  font-size: 1.25rem;
  margin: 3px 330px 0 292px;
}

.u-section-1 .u-text-49 {
  margin-left: 292px;
  margin-right: 330px;
  margin-bottom: 60px;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-2 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 752px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 784px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 308px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 328px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -414px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 22px;
    margin-right: 14px;
    margin-left: 722px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 283px;
    margin-right: 192px;
    margin-left: 180px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1092px;
    margin-right: 784px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 784px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 791px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 282px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -296px;
    margin-right: 791px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 209px;
    margin-right: 98px;
    margin-left: 202px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -252px;
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 219px;
    margin-right: 154px;
    margin-left: 202px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 26px;
    margin-left: 202px;
    margin-right: 196px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -1095px;
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-top: 44px;
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: 278px;
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: 48px;
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-top: -146px;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -213px;
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-top: -293px;
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-top: 288px;
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 693px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 693px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 693px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 693px;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-top: -217px;
    margin-right: 693px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 693px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
    margin-left: 178px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 178px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
    margin-left: 178px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
    margin-left: 177px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
    margin-left: 145px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 145px;
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-1 .u-text-42 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 144px;
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-1 .u-text-47 {
    width: 450px;
    margin-left: 285px;
    margin-right: 205px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 230px;
    margin-left: 192px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 192px;
    margin-right: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 532px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 564px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 296px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 502px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 225px;
    margin-right: 82px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 228px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 595px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 238px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -281px;
    margin-right: 514px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 248px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -3px;
    margin-left: 92px;
    margin-right: 86px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: -357px;
    margin-right: 514px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-left: 0;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    margin-left: 0;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-left: 0;
  }

  .u-section-1 .u-text-41 {
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    margin-left: 0;
  }

  .u-section-1 .u-text-45 {
    margin-left: 0;
  }

  .u-section-1 .u-line-5 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-left: 0;
  }

  .u-section-1 .u-text-47 {
    margin-left: 175px;
    margin-right: 95px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 120px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 82px;
    margin-right: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 352px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 302px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -407px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 322px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: 228px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1060px;
    margin-right: 384px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 234px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -245px;
    margin-right: 415px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 190px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: -226px;
    margin-right: 334px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 200px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: -880px;
    margin-right: 334px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 41px;
    margin-right: 334px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 275px;
    margin-right: 334px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -188px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -335px;
    margin-right: 334px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-31 {
    margin-top: -124px;
    margin-right: 293px;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
  }

  .u-section-1 .u-text-36 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-37 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-40 {
    margin-right: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 0;
  }

  .u-section-1 .u-text-44 {
    font-size: 1rem;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
  }

  .u-section-1 .u-text-46 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-47 {
    margin-left: 85px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-48 {
    font-size: 1rem;
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-49 {
    margin-left: 0;
    margin-right: 22px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 152px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 184px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 251px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -382px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 122px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 203px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 209px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 165px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 175px;
    margin-right: 97px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -22px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -1239px;
    margin-right: 134px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 249px;
    margin-right: 134px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -667px;
    margin-right: 134px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-31 {
    margin-top: -200px;
    margin-right: 93px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-text-47 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-48 {
    margin-right: 0;
  }

  .u-section-1 .u-text-49 {
    margin-right: 0;
  }
}