 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2427px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 142px;
  left: 267px;
  height: 2218px;
  transform-origin: center top;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 -42px;
}

.u-section-1 .u-line-2 {
  width: 1225px;
  transform-origin: left center;
  margin: 6px -43px 0 auto;
}

.u-section-1 .u-line-3 {
  width: 270px;
  transform-origin: left center;
  margin: 51px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -43px 952px 0 -2px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 29px 893px 0 104px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: -36px 21px 0 287px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -45px 894px 0 68px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 895px 0 107px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -27px auto 0 287px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 10px 895px 0 40px;
}

.u-section-1 .u-text-9 {
  margin: -36px auto 0 318px;
}

.u-section-1 .u-text-10 {
  margin: 0 41px 0 317px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -7px 894px 0 41px;
}

.u-section-1 .u-text-12 {
  margin: -29px 21px 0 317px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -14px 893px 0 41px;
}

.u-section-1 .u-text-14 {
  margin: -21px 373px 0 317px;
}

.u-section-1 .u-image-1 {
  width: 321px;
  height: 300px;
  margin: -385px 21px 0 auto;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -278px 893px 0 41px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-20 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-group-1 {
  width: 321px;
  height: auto;
  min-height: 50px;
  margin: -13px 21px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-21 {
  margin: 10px 51px 0 52px;
}

.u-section-1 .u-text-22 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -22px 893px 0 41px;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-24 {
  font-size: 1.25rem;
  margin: -17px 21px 0 286px;
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -32px 894px 0 40px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 13px auto 0 286px;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -42px 891px 0 43px;
}

.u-section-1 .u-line-4 {
  width: 905px;
  transform-origin: left center;
  margin: 6px -43px 0 auto;
}

.u-section-1 .u-text-28 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 6px 891px 0 43px;
}

.u-section-1 .u-text-29 {
  font-size: 1.25rem;
  margin: -25px 21px 0 287px;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -56px 893px 0 0;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-32 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -17px auto 0 329px;
}

.u-section-1 .u-text-33 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -7px 893px 0 0;
}

.u-section-1 .u-text-34 {
  font-size: 1.25rem;
  margin: -21px 198px 0 auto;
}

.u-section-1 .u-text-35 {
  font-size: 1.25rem;
  margin: 7px 21px 0 362px;
}

.u-section-1 .u-text-36 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -96px 893px 0 0;
}

.u-section-1 .u-text-37 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 1px;
}

.u-section-1 .u-text-38 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-39 {
  font-size: 1.25rem;
  margin: -26px 21px 0 362px;
}

.u-section-1 .u-text-40 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -23px 893px 0 0;
}

.u-section-1 .u-text-41 {
  font-size: 1.25rem;
  margin: 3px 31px 0 362px;
}

.u-section-1 .u-text-42 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -52px 893px 0 0;
}

.u-section-1 .u-text-43 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 31px auto 0 329px;
}

.u-section-1 .u-text-44 {
  font-size: 1.25rem;
  margin: 19px 21px 0 329px;
}

.u-section-1 .u-text-45 {
  font-size: 1.25rem;
  margin: 20px 21px 0 362px;
}

.u-section-1 .u-text-46 {
  font-size: 1.25rem;
  margin: 20px 21px 0 362px;
}

.u-section-1 .u-text-47 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 22px 416px 0 329px;
}

.u-section-1 .u-text-48 {
  font-size: 1.25rem;
  margin: 20px 21px 0 329px;
}

.u-section-1 .u-text-49 {
  font-size: 1.25rem;
  margin: 20px 21px 0 362px;
}

.u-section-1 .u-text-50 {
  font-size: 1.25rem;
  margin: 20px 21px 60px 329px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-top: 0;
    width: 2px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 58px;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 852px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 116px;
    margin-right: 884px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 100px;
    margin-left: 208px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -35px;
    margin-right: 884px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 885px;
    margin-left: 116px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 387px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 362px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 141px;
    margin-left: 217px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 100px;
    margin-left: 238px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -42px;
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -328px;
    margin-right: 121px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -39px;
    margin-right: 121px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: -3px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -37px;
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -194px;
    margin-right: 13px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 113px;
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-26 {
    margin-top: -119px;
    margin-left: 386px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 91px;
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-line-4 {
    width: 912px;
    margin-top: -126px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 39px;
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 879px;
    margin-right: 0;
    margin-left: 108px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -960px;
    margin-right: 794px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 794px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 659px;
    margin-left: 271px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -682px;
    margin-right: 794px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-34 {
    margin-top: 593px;
  }

  .u-section-1 .u-text-35 {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 183px;
  }

  .u-section-1 .u-text-36 {
    margin-top: -708px;
    margin-right: 794px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 794px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 154px;
    margin-right: 0;
    margin-left: 183px;
  }

  .u-section-1 .u-text-40 {
    margin-top: -203px;
    margin-right: 794px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-41 {
    margin-top: 75px;
    margin-right: 0;
    margin-left: 193px;
  }

  .u-section-1 .u-text-42 {
    margin-top: -156px;
    margin-right: 794px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 271px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 0;
    margin-left: 271px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 0;
    margin-left: 183px;
  }

  .u-section-1 .u-text-46 {
    margin-left: 183px;
    margin-right: 0;
  }

  .u-section-1 .u-text-47 {
    margin-right: 316px;
    margin-left: 229px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 0;
    margin-left: 229px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 0;
    margin-left: 183px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 0;
    margin-left: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 168px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-left: 168px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 742px;
    margin-left: 208px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 774px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -64px;
    margin-right: 774px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 775px;
    margin-left: 226px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 430px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 411px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 251px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -36px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -325px;
    margin-right: 231px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 231px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -197px;
    margin-right: 123px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 84px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 429px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 2175px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-top: -2256px;
    margin-right: 684px;
    margin-left: 209px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 684px;
    margin-left: 209px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 1667px;
    margin-left: 208px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -1690px;
    margin-right: 684px;
    margin-left: 209px;
  }

  .u-section-1 .u-text-34 {
    margin-top: 1493px;
  }

  .u-section-1 .u-text-35 {
    margin-top: -24px;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-top: -1608px;
    margin-right: 684px;
    margin-left: 209px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 684px;
    margin-left: 209px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 478px;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-top: -527px;
    margin-right: 684px;
    margin-left: 209px;
  }

  .u-section-1 .u-text-41 {
    margin-top: 219px;
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    margin-top: -300px;
    margin-right: 684px;
    margin-left: 209px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 0;
  }

  .u-section-1 .u-text-46 {
    margin-left: 0;
  }

  .u-section-1 .u-text-47 {
    margin-right: 206px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 119px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 0;
  }

  .u-section-1 .u-text-50 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 258px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
    margin-left: 258px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 652px;
    margin-left: 298px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 684px;
    margin-left: 312px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -51px;
    margin-right: 684px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 685px;
    margin-left: 316px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-left: 465px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 16px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 451px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 3px;
    margin-right: 341px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -29px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -33px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -242px;
    margin-right: 321px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -36px;
    margin-right: 321px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -22px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-24 {
    font-size: 1rem;
    margin-top: -205px;
    margin-right: 213px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 91px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 464px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 98px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-29 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-30 {
    margin-top: -2237px;
    margin-right: 594px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 594px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-32 {
    font-size: 1rem;
    margin-left: 156px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -1678px;
    margin-right: 594px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-34 {
    font-size: 1rem;
    margin-right: 149px;
  }

  .u-section-1 .u-text-35 {
    font-size: 1rem;
    margin-top: -17px;
  }

  .u-section-1 .u-text-36 {
    margin-top: -1589px;
    margin-right: 594px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 594px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-39 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-40 {
    margin-top: -514px;
    margin-right: 594px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-41 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-42 {
    margin-top: -281px;
    margin-right: 594px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-43 {
    font-size: 1rem;
    margin-left: 156px;
  }

  .u-section-1 .u-text-44 {
    font-size: 1rem;
    margin-left: 156px;
  }

  .u-section-1 .u-text-45 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-46 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-47 {
    font-size: 1rem;
    margin-right: 116px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-48 {
    font-size: 1rem;
    margin-left: 29px;
  }

  .u-section-1 .u-text-49 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-50 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 358px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-left: 358px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 552px;
    margin-left: 398px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 584px;
    margin-left: 412px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -103px;
    margin-right: 584px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 585px;
    margin-left: 416px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 504px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 495px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -22px;
    margin-right: 441px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -55px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -84px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -447px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-group-1 {
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -179px;
    margin-right: 313px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 65px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 503px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 105px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -2288px;
    margin-right: 494px;
    margin-left: 399px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 494px;
    margin-left: 399px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 494px;
    margin-left: 399px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 94px;
  }

  .u-section-1 .u-text-35 {
    margin-top: -43px;
  }

  .u-section-1 .u-text-36 {
    margin-top: -1640px;
    margin-right: 494px;
    margin-left: 399px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 494px;
    margin-left: 399px;
  }

  .u-section-1 .u-text-40 {
    margin-top: -540px;
    margin-right: 494px;
    margin-left: 399px;
  }

  .u-section-1 .u-text-41 {
    margin-top: 228px;
  }

  .u-section-1 .u-text-42 {
    margin-top: -315px;
    margin-right: 494px;
    margin-left: 399px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-48 {
    margin-left: 0;
  }
}