 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4656px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 142px;
  left: 267px;
  height: 4481px;
  transform-origin: center top;
  width: 2px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 -42px;
}

.u-section-1 .u-line-2 {
  width: 1225px;
  transform-origin: left center;
  margin: 6px auto 0 -42px;
}

.u-section-1 .u-line-3 {
  width: 270px;
  transform-origin: left center;
  margin: 51px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -43px 952px 0 -2px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 29px 891px 0 93px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: -36px -2px 0 283px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -109px 891px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 105px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 70px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 4px auto 0 283px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -18px 891px 0 109px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-4 {
  width: 905px;
  transform-origin: left center;
  margin: -18px -43px 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 15px 0 0 283px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -209px 892px 0 109px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 124px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 107px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-image-1 {
  width: 788px;
  height: 591px;
  margin: 6px 35px 0 auto;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -582px 892px 0 42px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-20 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-22 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-26 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-28 {
  font-size: 1.25rem;
  font-style: italic;
  margin: -1px 322px 0 auto;
}

.u-section-1 .u-text-29 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -16px 892px 0 42px;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-32 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-33 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-34 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-35 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-36 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-37 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-38 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-39 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-40 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-41 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-42 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-43 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-44 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-45 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-46 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-47 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-48 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-49 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-50 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-51 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 14px 893px 0 0;
}

.u-section-1 .u-text-52 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-53 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-54 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-55 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-56 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-57 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-58 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-59 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-60 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-61 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-62 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-63 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-64 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-65 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-66 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-67 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-68 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-69 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 58px;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
    margin-left: 58px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 852px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 884px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 98px;
    margin-left: 183px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 884px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 884px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 884px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 40px;
    margin-left: 383px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -54px;
    margin-right: 884px;
    margin-left: 116px;
  }

  .u-section-1 .u-line-4 {
    width: 912px;
    margin-top: 18px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 12048px;
    margin-left: 83px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -12277px;
    margin-right: 885px;
    margin-left: 116px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 47px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 10662px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -11238px;
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 306px;
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 7577px;
    margin-right: 266px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -7594px;
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 834px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 793px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 793px;
    margin-bottom: -2124px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4605px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 168px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-left: 168px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 742px;
    margin-left: 208px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 774px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 774px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 774px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 774px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 76px;
    margin-left: 427px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -90px;
    margin-right: 774px;
    margin-left: 226px;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
    margin-top: 54px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 15540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: -15837px;
    margin-right: 775px;
    margin-left: 226px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 805px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 805px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 15px;
    margin-right: 805px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 540px;
    margin-top: 14190px;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: -14715px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 255px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 11106px;
    margin-right: 204px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -11122px;
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 724px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 683px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 683px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4470px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 258px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
    margin-left: 258px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 652px;
    margin-left: 298px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 684px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 684px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 684px;
    margin-left: 312px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 684px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 463px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 684px;
    margin-left: 316px;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-11 {
    margin-top: -15786px;
    margin-right: 685px;
    margin-left: 316px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 715px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 715px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 715px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -14580px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 120px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-28 {
    font-size: 1rem;
    margin-right: 153px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -11116px;
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 593px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 593px;
    margin-bottom: -2130px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4320px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 358px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-left: 358px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 552px;
    margin-left: 398px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 584px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 584px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 584px;
    margin-left: 412px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 584px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 503px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -118px;
    margin-right: 584px;
    margin-left: 416px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -15914px;
    margin-right: 585px;
    margin-left: 416px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 615px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 615px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 615px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -14430px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 15px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 11061px;
    margin-right: 96px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -11071px;
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 534px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 493px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 493px;
    margin-bottom: -2175px;
    margin-left: 400px;
  }
}