 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4656px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 142px;
  left: 267px;
  height: 4481px;
  transform-origin: center top;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 -42px;
}

.u-section-1 .u-line-2 {
  width: 1225px;
  transform-origin: left center;
  margin: 6px auto 0 -42px;
}

.u-section-1 .u-line-3 {
  width: 270px;
  transform-origin: left center;
  margin: 51px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -43px 952px 0 -2px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 29px 891px 0 93px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 105px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 70px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 109px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 109px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 124px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 107px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-20 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 891px 0 43px;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 678px 892px 0 42px;
}

.u-section-1 .u-text-22 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -699px 892px 0 42px;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-26 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-28 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-29 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-32 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-33 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-34 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 892px 0 42px;
}

.u-section-1 .u-text-35 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 66px 893px 0 41px;
}

.u-section-1 .u-text-36 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-37 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-38 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-39 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-40 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-41 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-42 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-43 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-44 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 41px;
}

.u-section-1 .u-text-45 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-46 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-47 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 14px 893px 0 0;
}

.u-section-1 .u-text-48 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-49 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-50 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-51 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-52 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-53 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-54 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-55 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-56 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-57 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-58 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-59 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-60 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-61 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-62 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-63 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-64 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 0 0;
}

.u-section-1 .u-text-65 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 893px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-2 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 752px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 784px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 784px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 784px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 784px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 784px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 785px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 791px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 791px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 791px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-39 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-41 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    margin-right: 734px;
    margin-left: 0;
  }

  .u-section-1 .u-text-45 {
    margin-right: 734px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 693px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4622px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 532px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 565px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 595px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 473px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3867px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 352px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 384px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 385px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3026px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 152px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 185px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 93px;
  }
}